# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Other
.idea/
.vscode/
*.log
Export/
Quote CSV/
*output.txt
*output_clean.txt
*log.txt
*.pkl
Export/*.pdf
*.bak
*.bak.final

# Project Specific
config.py
persistence.pkl
pdf_error.log
bot/image.png
image.png
bot/sugestion fix.txt
bot/recommend.txt
edit and remove suggestion.txt
__pycache__/
**/__pycache__/
